<template>
    <div class="section">
        <div class="buttons">
            <button v-if="expand" class="button" @click="expand = !expand"> - </button>
            <button v-else class="button" @click="expand = !expand"> + </button>
            <span>{{ aboutOpened }}</span>
        </div>
        <div v-if="expand" class="text">
            {{ pOpened }}<br>
                <div class="inner-text">
                    front-end developer, designer, builds products and tools that solve real user problems. likes diving into new technologies, flipping them upside-down and inside-out to figure out how and why they work.
                </div>{{ pClosed }}
           <br>
        </div>
        <span v-if="expand">
            {{ aboutClosed }}</span>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                aboutOpened: '<about>',
                aboutClosed: '</about>',
                expand: false,
                pOpened: '<p>',
                pClosed: '</p>'
            }
        }
    }
</script>
<style lang="scss">

</style>