<template>
    <div class="section">
        <div class="buttons">
            <button v-if="expand" class="button" @click="expand = !expand"> - </button>
            <button v-else class="button" @click="expand = !expand"> + </button>

            <span>{{ contactOpened }}</span>
        </div>
        <div class="container" v-if="expand">
            <div class="text">
                {{ address }} metinerkck@gmail.com
                {{ addressClosed }}
            </div>
            <div class="text">
                {{ phone }} +90 (532) 793 20 84
                {{ phoneClosed }}
            </div>
        </div>
        <div v-if="expand">
            {{ contactClosed }}
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                contactOpened: '<contact>',
                contactClosed: '</contact>',
                address: '<mail>',
                addressClosed: '</mail>',
                phone: '<phone>',
                phoneClosed: '</phone>',

                expand: false
            }
        }
    }
</script>
<style>

</style>