<template>
    <div class="container">
        <div class="metiner">
            <div class="buttons">
                <div>
                    <button v-if="expand" class="button" @click="expand = !expand"> - </button>
                    <button v-else class="button" @click="expand = !expand"> + </button>

                </div>
                <div>
                    <span>{{ metinerOpened }}</span>

                </div>

            </div>
        </div>
            <div v-if="expand">
                <app-about></app-about>
                <app-skils></app-skils>
                <app-projects></app-projects>
                <app-contact></app-contact>
            </div>
        <div v-if="expand">
            {{ metinerClosed }}
        </div>
    </div>
</template>

<script>

    import About from './About.vue'
    import Skils from './Skils.vue'
    import Projects from './Projects.vue'
    import Contact from './Contact.vue'

    export default {
        data() {
            return {
                metinerOpened: '<metiner>',
                metinerClosed: '</metiner>',
                expand:  false
            }
        },
        components: {
            'app-about': About,
            'app-skils': Skils,
            'app-projects': Projects,
            'app-contact': Contact
        }
    }
</script>
<style lang="scss">
    * {
        font-size: 40px;
        font-family: 'Roboto Mono', monospace;
        @media (max-width:600px) {
            font-size: 20px;
        }
    }


    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 5px;

    }
    .metiner {
        flex-direction: row;
        align-items: center;
    }
    .buttons{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    button{
        border: none;
        outline: none;
        cursor: pointer;
        background: none;
    }

    .section {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-left: 4rem;
        @media (max-width:600px) {
            margin-left: 2rem;

        }
        .text {
            margin-left: 4rem;
            @media (max-width:600px) {
                margin-left: 2rem;
            }
            .inner-text{
                margin-left: 2rem;
                @media (max-width:600px) {
                    margin-left: 1rem;
                }
            }
        }
    }

</style>