<template>
    <div class="section">
        <div class="buttons">
            <button v-if="expand" class="button" @click="expand = !expand"> - </button>
            <button v-else class="button" @click="expand = !expand"> + </button>

            <span>{{ projectsOpened }}</span>
        </div>
        <div class="container" v-if="expand">
            <div style="margin-left: 4rem">
                {{ a }}=<a href="http://benimfirsatim.com" target="_blank"> bbenimfirsatim.com</a>
                {{ aClosed }}
            </div>
        </div>
        <div v-if="expand">
            {{ projectsClosed }}
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                projectsOpened: '<projects>',
                projectsClosed: '</projects>',
                expand: false,
                a: '<a href',
                aClosed: '</a>'
            }
        }
    }
</script>
<style>
</style>