<template>
    <div class="section">
        <div class="buttons">
            <button v-if="expand" class="button" @click="expand = !expand"> - </button>
            <button v-else class="button" @click="expand = !expand"> + </button>

            <span>{{ skilsOpened }}</span>
        </div>
        <div v-if="expand" class="container">
            <div style="margin-left: 4rem">
                {{ li }}
                <div style="margin-left: 2rem">
                    html
                    <br>css
                    <br>javascript
                    <br>vuejs
                    <br>angular
                    <br>ionic
                </div>
                {{ liClosed }}
            </div>
        </div>
        <div v-if="expand">
            {{ skilsClosed }}
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                skilsOpened: '<skils>',
                skilsClosed: '</skils>',
                expand: false,
                li: '<ul>',
                liClosed: '</ul>'
            }
        }
    }
</script>
<style>

</style>