<template>
  <div id="app">
    <app-home></app-home>
  </div>
</template>
<script>
  import Home from './components/Home.vue'
  export default {
      components: {
          'app-home' : Home
      }
  }
</script>
<style lang="scss">


</style>
